body{ 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header{
    display: flex;
    justify-content: space-around;
    justify-items: baseline;
    align-items: flex-start;   
}

ul{ 
    display: flex;
     gap: 1em;
     margin-bottom: 2em;       
}

li{
    list-style-type: none; 
}
a{
       font-size:0.80rem;
    color: #E5E7EB;
    text-decoration: none;
}

.hl{ 
   
  font-weight: bold;
  font-size: 1.125rem;
  padding-top: 1em;
}

.header2{
    padding: 0 5em; 
}

.h21{
    display: block;
}

.h22{
    display: block;
}

.para,.tit{
    margin: 0;
}

.signup{
    padding:0.25em 1em;
    background-color:#3882f6;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    border-color: #3882f6;
   margin-bottom:16px ;
   flex:0;
   width:100px;
}

button:hover{
    
    color:#3882f6;
    background-color: white;
    transition: 0.5s;
    cursor:pointer;
}

.flex{
    display: flex;
    justify-content: space-evenly;
}

.flex1{
    display: flex;
    flex-direction: column;
    padding: 1em 0 2em 0;
}

img{
    margin: 0em;

}

.container{
    color: white;
    background-color: #1F2937; 
    padding-bottom: 0.05em;  
}

.para{
    margin-bottom: 1em;
    font-size: 18px;
}

h1{
    font-size: 48px;
}

/* second body*/

h3{
    text-align: center;
    margin:30px 0;
    font-size: 34px;
    font-weight:bolder;
}

.box1,.box2,.box3,.box4{
    border:2px solid;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border-color:#3882f6;
}

.box-container{
    display: flex;
   
    height:105px;
    gap: 1.5em;
    justify-content: center;
   
}
.box1-1,.box1-2,.box1-3,.box1-4{
    width: 120px;
    height: 100px;
    border-radius: 10px;
    display: flex;
    text-align: center;
    align-items: flex-start; 
    margin-bottom: auto;
}

.box-container2{
    display: flex; 
    height:110px;
    gap: 0.5em;
    justify-content: center;
}

p{
    font-size: 0.84rem;
    color:rgb(141, 141, 141);
    margin-top: 0;
}

/*quote part*/

.container3{ 
    height:300px ;
    background-color:#E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin:40px 0;
    padding: 40px 0 0 0;
}

.quote-box{
    height: 150px;
}

.qp1,.qp2{
    display: block;
}

em{
     color:#1f2937;
    font-size:1.70rem;
    font-style:italic;
}

.quoter{  
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.quoter-name{
    height: 60px;
    margin: 0px;
    margin-right: 400px;
}

h4{
    margin-top: 0;
}
    
    


   

